// HERO
.jumbotron{
    background-image: linear-gradient(rgba(0, 0, 0, 0.272),rgba(0, 0, 0, 0.518)),url("../images/fondo.jpg");
    background-attachment: fixed; 
    background-size: cover;
    background-position: center;
    height: 94vh;
    margin: 0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

h2 {
    text-align: center;
}



// NOVEDADES
.novedades {
    padding-top: 4rem;
    text-align: center;
    .nov-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .card{
            width: 18rem;
            margin:1rem;
        }
    } 
}

.card-img-top{
    height: 15rem;
}

// Modal
.modal-header{
  text-align: center;
  h5{
    width: 100%;
  }
}
.modal-body{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .modal-img{
    height: 15rem;
  }
}


// Productos
.productos {
    padding-top: 4rem;
    text-align: center;
    .nov-container{
        padding-top: 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .card{
            width: 20rem;
            margin-bottom: 1rem;
        }
    }
}

// Contacto
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 4rem;
    .form-container {
    display: inline-block;    
        form {
            background-color: rgba(69, 71, 71, 0.3);
            border-radius: 1rem;
            font-size: 1em;
            padding: 20px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            label, p {
                margin-bottom: 0.5rem;
            }
            input {
                outline: none;
                width: 20rem;
            }
            .btn{
              &:hover{
                transform: scale(1.1);
              }
            }

        }      
    }
  }


// Botones
.botones{
    text-align: center;
    padding: 4rem;
    button{
      border-width: 2px;
    }
  }


// Aplico un color de fondo al footer
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    // Aplico relleno a la parte superior del footer
    .topFooter {
      padding: 1rem;
      a{
        text-decoration: none;
          // Aplico el estilo para las redes sociales
      i {
        font-size: 1.5rem;
        color: $secondary;
        padding: 10px;
        border: 2px solid $secondary;
        border-radius: 5px;
        min-width: 3rem;
        margin: 1rem;
        // Animación que mueve las redes sociales al pasar por encima
        &:hover {
          -moz-transform: translate(-0px, -15px);
          -ms-transform: translate(-0px, -15px);
          -o-transform: translate(-0px, -15px);
          -webkit-transform: translate(-0px, -15px);
          transform: translate(-0px, -15px);
        }
      }
      }
    }
    // Aplico relleno y color de fondo a la parte inferior del footer
    .botFooter {
      padding: 1rem;
      width: 100%;
      // Aplico color al copyright 
      p{
        margin: 0;
        color: $secondary;
      }
    }
}