// Editar modal
$modal-content-bg: $dark;
$modal-backdrop-bg: $secondary;
$btn-close-color: $secondary;


// Bordes del modal
$modal-content-border-color: $warning;
$modal-content-border-width: 2px;
$modal-header-border-color:  $warning;
$modal-footer-border-color: $warning;